{% extends "core/base.html" %}
{% load static %}

{% block title %}Simple blogs{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "core/css/main.css" %}">
{% endblock %}

{% block content %}
<div class="row main_desc">
  <h1 class="col-sm-12 main_h"><strong>Персональная лента:</strong></h1>
</div>

<div class="row">
  {% if user.is_authenticated %}
    {% include "core/news_feed_posts_list.html" %}
  {% else %}
    <p>Вы не вошли. <a href="{% url "login" %}?next={{request.path}}">Войти</a></p>
  {% endif %}
</div>
{% endblock %}
