<!-- templates/core/show_post.html -->
{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "core/css/main.css" %}">
{% endblock %}

{% block content %}
  <div class="content">
    <form method="post" action="{% url "(un)subscribe" blog.author.id %}">
      {% csrf_token %}
      {% if user.is_authenticated %}
        {% if user.id != blog.author.id %}
          {% if not is_subscriber %}
            <input type="submit" class="btn btn-outline-dark btn-sm" value="Подписаться">
          {% else %}
            <input type="submit" class="btn btn-outline-dark btn-sm" value="Отписаться">
          {% endif %}
        {% else %}
          <p>Это ваш блог</p>
        {% endif %}
      {% else %}
        <p>Чтобы подписаться нужно <a href="{% url "login" %}?next={{request.path}}">войти</a></p>
      {% endif %}
    </form>
    <div class="post">
      <h1><strong>{{ post.title }} ({{ blog.title }})</strong></h1>
      <form method="post" action="{% url "mark_read" post.blog.author.id post.id %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
          {% if user.id != blog.author.id %}
            {% if is_subscriber %}
              {% if is_read %}
                <p>Прочитано</p>
              {% else %}
                <input type="submit" class="btn btn-outline-dark btn-sm" value="Отметить прочитанным">
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
          <p>Чтобы отметить прочитанным нужно <a href="{% url "login" %}?next={{request.path}}">войти</a></p>
        {% endif %}
      </form>
      <p class="post-pub_date">{{ post.pub_date }}</p>
      {% if post.img %}
        <img class="post_img" src="{{ post.image.url }}" alt="Картинка к посту" width="100%" vspace="10"></img>
      {% endif %}
      <p><strong>Текст:</strong>{{ post.text }}</p>
    </div>
  </div>
{% endblock %}
